.work-sans-primary {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  text-decoration: none;
  list-style: none;
}
section{
    margin-top: 130px;
}
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.text-primary{
  color: #ff900e;
}
/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #424242;
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.primary-but {
  border-radius: 8px;
  background: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
/* shared */

/* custom */
/* nav part */
.nav-section,
.banner-section {
  max-width: 1440px;
  margin: 0 auto;
}
.nav {
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-weight: 700;
  font-size: 3rem;
}
.nav-items {
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
}
/* banner */
.banner-con {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-image img{
    width: 100%;
}
/* feture and team */
.team_img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams_feture{
    display: flex;
    align-items: center;
}
.fetures{
    margin-left: 120px;
    max-width: 530px;
}

.section-title{
    font-size: 2.8rem;

}
#quick-list{
    font-weight: 500;
}


/* fact */
.fact-card-con{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-title{
  margin-bottom: 24px;
}
.fact-description{
  /* margin-top: 10px; */
  max-width: 540px;
}
.fact-card{
  box-sizing: border-box;
  padding: 40px 36px;
  width: 240px;
  height: 240px;
  /* background-color: #ff900e; */
  border:  1px solid #ff900e;
  border-radius: 5px;
  margin-top: 100px;
}
.fact-num{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsor */
.sponsor-title{
  margin-bottom: 24px;
}

.sponsor-discription{
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.sponsor-con{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-img{
  max-width: 100%;
}





.footer-con{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 50px;
}
.hide{
  display: none;
}