@media screen and (max-width: 576px) {
  .nav,
  .nav-items {
    flex-direction: column;
  }

  .teams_feture {
    flex-direction: column;
  }
  .team_img {
    grid-template-columns: repeat(1, 1fr);
  }
  .fetures {
    margin-left: 10px;
  }
  .section-title {
    font-size: 1.8rem;
  }
  .feture-description {
    max-width: 100%;
    padding: 0 20px;
  }

  .fact-card-con {
    grid-template-columns: repeat(1, 1fr);
    
    justify-items: center;
    /* margin-left: 80px; */
  }
  .fact-card{
    margin-top: 15px;
  }
  .bg-light{
    max-width: 100%;
  }
.sponsor-discription{
  max-width: 70%;
  /* text-align: justify; */
  /* margin: 0 auto; */
}
.sopnsor-text{
  /* text-align: left; */
}
  .sponsor-con{
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}


}

/* medium */
@media screen and (min-width: 576.1px) and (max-width: 992px) {
  
  .banner-section{
    max-width: 100%;
  }
  
  .teams_feture {
    flex-direction: column;
  }

  .fetures {
    margin-left: 50px auto;
  }

  .fact-card-con {
    grid-template-columns: repeat(2, 1fr);
    /* margin: 0 auto; */
    margin-left: 15%;
    gap: 20px;
  }
  .fact-card, header{
    margin-left: 40px;
  }
  

}
